image: docker:25.0.3
variables:
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2
services:
  - docker:dind

stages:
  - build
  - deploy

build-jar:
  stage: build
  image: maven:3.8-openjdk-17
  tags:
    - dev-container
  script:
    - mvn clean package -DskipTests
  artifacts:
    paths:
      - target/*.jar

deploy-to-ocp:
  stage: deploy
  image: quay.io/openshift/origin-cli:latest
  tags:
    - dev-container
  script:
    - kubectl config use-context pcs-8/test-orientasi:ort-agent

    - oc start-build test-orientasi-spring --from-file=target/my-app.jar -n test-orientasi --follow

    - oc rollout status deployment/test-orientasi-spring -n test-orientasi