image: docker:25.0.3
variables:
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2
services:
  - docker:dind

stages:
  - test-koneksi

cek-openshift-job:
  stage: test-koneksi
  image: quay.io/openshift/origin-cli:latest
  tags:
    - dev-container
  script:
    # 1. Mengaktifkan konteks Agent
    - kubectl config use-context pcs-8/test-orientasi:ort-agent

    # 2. Test apakah bisa melihat resource di namespace target
    # Kita pakai 'oc' karena ini image OpenShift CLI
    - oc get all -n test-orientasi

    # 3. Cek identitas ServiceAccount
    - oc whoami